
:root {
  --main-gray: #2d2d2d;
  --light-gray: #979696;
  --main-orange: #ff8762;
  --secondary-orange: rgb(255, 131, 74);
}

body {
  background-color: var(--light-gray);
}

/* Utility Classes */

.add-margin {
  margin: 1.5rem;
}
.secondary-color {
  color: var(--main-orange);
}

.bold-text {
  font-weight: bold;
}

.background-orange {
  background-color: var(--main-orange);
  border-radius: .25rem;
}

.orange-button {
  color: white;
  font-weight: bold;
  background-color: var(--main-orange);
  border-color: var(--main-orange);
}

.orange-button:hover {
  color: black;
  background-color: var(--secondary-orange);
  border-color: var(--secondary-orange);
}

/* Navigation Styles */

nav {
  background: black;
  width: 100%;
}

.nav-link {
  background-color: var(--main-orange);
  border-radius: .2rem;
}

.logo {
  width: 16.25rem;
}

nav a.nav-link {
  font-weight: 500;
  color: var(--main-orange)
}

.navbar-nav > li > a {
  margin: 0rem 0.75rem;
  border-top: 0.1875rem solid transparent;
}

.navbar-brand {
  max-width: 17.25rem;
}

/*Home Styles*/

.searchbar {
  background-color: var(--light-gray);
}

.main-container {
  background-image: url('./images/cinema.jpg');
  height: 80vh;
  padding: 2rem;
  background-size: cover;
}

.results-container {
  background-color: var(--light-gray);
  border-radius: .25rem;
  padding: .5rem;
}

.title-text {
  color:white;
  text-align: center;
}